<%- include ('../includes/header', { title }) %>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #272727;">
    <tr>
      <td style="font-size: 30px; padding-bottom: 15px;">
        <b>Olá <%= to.name %>,</b>
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 25px;">
        Sua conta foi criada com sucesso. Por favor, clique no botão abaixo para confirmar seu endereço de e-mail.
      </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="50%">
          <tr>
            <td align="center" valign="top"
              style="color: #ffffff; font-size: 20px; line-height: 30px; padding-bottom: 15px; white-space: nowrap; font-weight: 600;">
              <a href="<%= protocol %>://<%= domain %>/<%= url %>" target="_blank"
                style="display: block; background: #0869c7; border-radius: 4px; padding: 15px 23px 15px 23px; text-decoration: none;">
                <font color="#ffffff">Confirmar email</font>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 30px;">
        Se você não conseguiu clicar no botão acima, por favor, copie e cole o link a seguir em seu navegador:
      </td>
    </tr>
    <tr>
      <td style="color: #0869c7">
        <%= protocol %>://<%= domain %>/<%= url %>
      </td>
    </tr>
  </table>
  <%- include ('../includes/footer', { to, domain }) %>
